In [37]:
import pandas as pd
import datetime
import time

In [184]:
with open('WhatsApp Chat with Sara.txt', 'r') as chat:
    messages = chat.readlines()

In [187]:
df = pd.DataFrame(messages)
df.head()

                                                   0
0  2/19/19, 16:23 - Messages to this chat and cal...
1  2/19/19, 16:16 - Sara: Hey, polaco üòè Is there ...
2  2/19/19, 16:35 - Kamil Ku≈∫niak: I'll swing by ...
3  2/19/19, 16:36 - Kamil Ku≈∫niak: In the meantim...
4          2/19/19, 16:36 - Sara: Only swing by? ü§î\n

In [188]:
df = pd.DataFrame(dates)
df.head()

      0  1   2   3   4  5  6   7  8
0  2019  2  19  16  23  0  1  50 -1
1  2019  2  19  16  16  0  1  50 -1
2  2019  2  19  16  35  0  1  50 -1
3  2019  2  19  16  36  0  1  50 -1
4  2019  2  19  16  36  0  1  50 -1

In [138]:
df.loc[768,0]

'4/2/19, 13:07 - Sara: Hey people! know it‚Äôs soon but I send the message now because I know myself and I can forget hahaha\n This evening at 8:15/8:20 in the main entrance of Home Groningen? Cris and I will arrive at that time I think. We are going to be around 10 people, so I have though to go to the common room (or any suggestion?) and eat and talk there until whenever you want. It‚Äôs not obligatory to bring food or anything although it‚Äôs dinner time, so probably we can have dinner there (or sort of, because bread and carrot are not enough xD). For the ones who are arriving late, send me a message and I answer you in a matter of seconds. It‚Äôs not a birthday party or something like that, just a random meeting so don‚Äôt feel bad if you arrive late or don‚Äôt feel under pressure if you haven‚Äôt bought anything. The important thing is to be together (and drink, of course) hahaha See you there ;D\n'

In [16]:
#split the date from the message
#Turn in into a datetime object
#if it's not possible than error handle: 
#add the content to the previous entry and pop it from the list

In [180]:
text = '4/1/19, 10:31 - Sara: Hey!'
text1 = text.split('-')[0].split(',')[0] + text.split('-')[0].split(',')[1]
text2 = '4/1/19 10:31'
print(text1)
print(text2)
data_czas = time.strptime(text1.split(',')[0], '%m/%d/%y %H:%M ')
print(data_czas)

4/1/19 10:31
4/1/19 10:31
time.struct_time(tm_year=2019, tm_mon=4, tm_mday=1, tm_hour=10, tm_min=31, tm_sec=0, tm_wday=0, tm_yday=91, tm_isdst=-1)

In [161]:
#messages[1].split('-')[0]
data = time.strptime(messages[1].split(',')[0], '%m/%d/%y')
czas = time.strptime(messages[1].split('-')[0].split()[1], '%H:%M')
print(messages[1])
print(data)
print(czas)

2/19/19, 16:16 - Sara: Hey, polaco üòè Is there finally a plan for today?

time.struct_time(tm_year=2019, tm_mon=2, tm_mday=19, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=50, tm_isdst=-1)
time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=16, tm_min=16, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)

In [59]:
messages[1] + ' ' + messages.pop(2)

"2/19/19, 16:16 - Sara: Hey, polaco üòè Is there finally a plan for today?\n 2/19/19, 16:35 - Kamil Ku≈∫niak: I'll swing by in the evening üòà\n"

In [185]:
#error handling when the date is not present
dates = []
content = []
person = []

for i in range(len(messages)): 
    try:
        dates.append(time.strptime(messages[i].split('-')[0].split(',')[0] + messages[i].split('-')[0].split(',')[1], '%m/%d/%y %H:%M '))
    except:
        messages[i-1] += (' ' + messages[i])
        messages[i] = 'NaN'
        
for message in messages:
    if message == 'NaN':
        messages.remove(message)

In [70]:
try:
    dates.append(time.strptime('This evening at 8:15/8:20 in the main entrance of Home Groningen? Cris and I will arrive at that time I think.'.split(',')[0], '%m/%d/%y'))
except ValueError:
    print('Error')

Error

In [186]:
print(len(messages))
print(len(dates))
print(dates[0])

39232
39138
time.struct_time(tm_year=2019, tm_mon=2, tm_mday=19, tm_hour=16, tm_min=23, tm_sec=0, tm_wday=1, tm_yday=50, tm_isdst=-1)